body {
    margin:0px;
    height:100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(211, 205, 205);
    color: rgb(155, 151, 151);
    font-family: sans-serif;
    
}

.hr {
    width: 60%;
    border-bottom: 2px solid rgb(187, 184, 184);
    align-items: center;
}

.row {
    flex-grow: 0.1;
   
}

.container {
    flex-grow: 8;
    display: flex;
   
}

.column {
    flex-grow: 5;
  
}

.card-container {
    flex-grow: 1;
   background-color:white;
   padding: 1em 0em ;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin: 1.5em 1.5em;
}

.increase-size {
    height: 30px;
    width: 30px;
    
}

#sliderContainer {
    width: 90%;
    margin: 10px;
}

#slider {
    width: 100%;
}

.increase {

    height: 12em;
    width: 20em;
}

.playing-now {
    align-self: center;
}

.align-center {
    text-align: center;
    margin: 1em 0em 1em 0em;
}

.text-change {

    color: black;
}